<!DOCTYPE html>
<html>

<body>
	{% extends "layout.html" %}
	{% block content %}

	<div class="home">
		
		<div class="form-group">
		  
	  	<form method='POST'>
	  		<label for="comment">Say Something:</label>
	  		<textarea name="post" class="form-control" rows="2" id="comment"></textarea>
	  		<input id="submit" class="btn btn-primary" type="submit" value="Submit">
	  	</form>
		  		
		  <hr>

		  {% for post in posts %}
		  	<p>{{ post.text }} </p>
		  	<p>{{ post.author }} on {{ post.created.month }}/{{ post.created.day }}/{{ post.created.year }}</p>
		  	<hr>
		  {% endfor %}


		</div>

		

	</div>
	{% endblock %}
</body>
</html>