<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
    <!-- Meta content -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example Facebook app using Flask and Python for Facebook SDK">
    <meta name="author" content="github.com/mylsb">

    <!-- These are Open Graph tags.-->
    <meta property="fb:app_id" content="{{ app_id }}" />

		<title>Ping</title>

    <!-- Style -->
    <!-- MIGHT NEED TO COMBINE THIS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
</head>
<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '249808355359595',
                status     : true,
                cookie     : true,
                xfbml      : true
            });

            FB.Event.subscribe('auth.login', function(response) {
                window.location = window.location;
            });
        };

        // Load the SDK Asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        
		        <li><a href="{{ url_for('about') }}">About</a></li>
		       	<!-- add more nav bar buttonss here -->
		        
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		        
		        {% if not g.user %}
		        	<li><a href="#" class="fb-login-button">Login</a></li>
		        {% endif %}

		        {% if g.user %}

		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user["name"] }}<span class="caret"></span></a>
		          <ul class="dropdown-menu">      
		      			<li><p class="navbar-text">Logged in as {{ user['name'] }}</p></li>
                <li><a id='logout' href="{{ url_for('logout') }}" >Logout</a></li>
		        {% endif %}
		            
		        
		          </ul>
	        	</li>

		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

  	<div class="container">
      {% block content %}
      {% endblock %}
  	</div>  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
    document.getElementById('logout').onclick = function() {
        FB.logout(function(response) { });
    };
  </script>

</body>
</html>

